重量と距離から天秤の状態(0,1,2)を分類するモデル構築
sample_num = 312
説明変数_num = 5
目的変数 = 天秤の状態

評価はaccuarcy

In [1]:
import pandas as pd

In [6]:
df_train = pd.read_csv('data/train.tsv', index_col=0, sep='\t')
df_test = pd.read_csv('data/test.tsv', index_col=0, sep='\t')

In [31]:
df_test

     left_weight  left_distance  right_weight  right_distance
0              4              5             4               3
1              3              2             1               5
3              1              4             5               1
4              5              4             4               4
5              2              2             4               1
..           ...            ...           ...             ...
619            3              4             3               4
620            1              5             3               5
621            1              2             3               1
623            4              5             3               4
624            4              3             3               4

[313 rows x 4 columns]

In [9]:
df_test

     left_weight  left_distance  right_weight  right_distance
0              4              5             4               3
1              3              2             1               5
3              1              4             5               1
4              5              4             4               4
5              2              2             4               1
..           ...            ...           ...             ...
619            3              4             3               4
620            1              5             3               5
621            1              2             3               1
623            4              5             3               4
624            4              3             3               4

[313 rows x 4 columns]

In [19]:
columns_l = list(df_train.columns)
y= columns_l.pop(0)
x = columns_l

class

In [33]:
x_train = df_train[x] # 説明変数のカラム
y_train = df_train[y] # 目的変数カラム

x_test = df_test[x]

xgboost: treeの勾配ブースティングによる分類モデル．kaggleでよく利用される

In [ ]:
import numpy as np
import pandas as pd
import xgboost as xgb
from sklearn.metrics import accuracy_score
from sklearn.model_selection import StratifiedKFold

clf = xgb.XGBClassifier(num_class=3)

acc = []
cv = StratifiedKFold(n_splits=3, shuffle=True, random_state=0)

for fold, (train_idx, val_idx) in enumerate(cv.split(x_train, y_train)):
    t_x = x_train.iloc[train_idx, :]
    val_x = x_train.iloc[val_idx, :]

    t_y = y_train.iloc[train_idx]
    val_y = y_train.iloc[val_idx]

    clf = xgb.XGBClassifier(num_class=3)
    clf.fit(t_x, t_y)

    pred = clf.predict(val_x)
    acc.append(accuracy_score(val_y, pred))

print("acc:", np.mean(acc))

test_preds = clf.predict(x_test)

submission_df = pd.DataFrame({
    "id": x_test.index,  
    "class": test_preds
})

submission_df.to_csv("submission.csv", index=False)

CV Accuracy: 0.8173076923076922

In [51]:
result_df

     test_idx  class
0           0      2
1           2      0
2          10      2
3          16      2
4          18      0
..        ...    ...
99        299      0
100       301      0
101       302      2
102       305      2
103       309      0

[312 rows x 2 columns]

In [36]:
sample_submit = ()

array([ 7.25741910e-01,  1.14458857e+00,  9.55419960e-01,  1.76692552e+00,
        1.26456644e+00,  1.99997344e+00,  2.65613989e-05,  1.76692552e+00,
        2.78568276e-01,  1.31892627e+00,  1.84141040e+00,  1.31892627e+00,
        1.99997344e+00,  4.46899221e-01,  1.30337124e-01,  1.55033588e-01,
        1.11988306e+00,  2.65613989e-05,  3.10934514e-01,  2.65613989e-05,
        6.29152348e-01,  2.65613989e-05,  1.80662060e+00,  1.99997344e+00,
        3.30044995e-01,  2.06277838e+00, -5.36665633e-02,  2.33559342e+00,
       -2.98571961e-02,  1.99997344e+00, -7.27391787e-02,  7.22534686e-02,
        1.43898502e+00,  2.65613989e-05,  4.54944348e-01,  1.62790914e+00,
       -1.24660218e-01,  8.72162263e-01,  2.65613989e-05,  1.46461037e+00,
        8.33091604e-01,  3.66898558e-01,  4.40090424e-01,  8.64739136e-01,
        1.43898502e+00,  2.65613989e-05,  1.99997344e+00,  1.50630626e+00,
        2.32893354e+00,  6.07130023e-01,  1.69688687e+00,  1.31892627e+00,
        1.99997344e+00,  3.25577118e-01,  2.03511060e+00,  5.03215994e-01,
        4.72524562e-01,  1.78845237e+00,  1.90835249e+00,  1.17034883e+00,
        1.99997344e+00,  1.94414540e+00,  8.00226788e-01,  8.00226788e-01,
        1.99997344e+00,  2.12527298e+00,  1.99997344e+00,  1.00674806e+00,
        1.30337124e-01,  1.96062572e+00,  1.06965223e+00,  1.67512071e-01,
        1.99997344e+00,  1.76692552e+00,  2.65613989e-05,  1.99997344e+00,
        9.80902298e-02,  2.65613989e-05,  1.47407644e+00,  1.99997344e+00,
        2.04065365e+00,  1.99997344e+00,  1.91576298e+00,  8.33091604e-01,
        5.27054187e-01,  1.99997344e+00,  2.03511060e+00,  2.65613989e-05,
        5.48034768e-01,  3.47006374e-01,  1.87467726e-01,  9.62692346e-01,
        1.96062572e+00,  4.40090230e-01,  2.65613989e-05,  1.33227163e+00,
        1.47776349e+00, -4.56492564e-01,  2.03511060e+00,  2.65613989e-05,
        2.32893354e+00,  2.65613989e-05,  1.62683528e+00,  9.90634844e-01,
        2.26203672e+00,  1.58363048e+00,  1.49489262e+00,  1.76692552e+00,
        1.99997344e+00,  1.89447834e+00,  2.65613989e-05,  8.31827403e-02,
        1.65978917e+00, -3.23489108e-01, -1.82657053e-01,  1.46461037e+00,
        1.14458857e+00,  2.65613989e-05,  1.40651537e+00,  1.72735645e+00,
        2.65613989e-05,  9.79434719e-01,  2.65613989e-05,  5.81787850e-01,
        7.25741910e-01,  1.29408247e-01,  1.46461037e+00,  1.59552732e+00,
        2.37813142e+00,  2.06255257e+00, -2.45920059e-02,  1.99997344e+00,
        7.25741910e-01,  6.30876178e-01,  2.65613989e-05,  5.73660109e-01,
        1.06323134e+00,  1.47776349e+00,  2.65613989e-05,  1.61842385e-01,
        2.65613989e-05,  1.99997344e+00,  2.65613989e-05,  9.80902298e-02,
        2.65613989e-05,  1.34426375e+00,  1.26996891e+00,  2.65613989e-05,
        1.51262648e+00,  1.98325117e+00,  1.99997344e+00,  1.78198336e-01,
        8.87981297e-01,  2.65613989e-05,  7.42456037e-02,  2.65613989e-05,
       -1.45423854e-02,  3.08870230e-01,  1.26397699e+00,  5.90328546e-01,
        5.03215994e-01, -7.27391787e-02,  1.31892627e+00,  1.51262648e+00,
        1.99997344e+00,  1.99997344e+00,  2.65613989e-05,  1.28741435e+00,
        2.02290308e+00,  7.76046524e-01,  7.25741910e-01,  1.99997344e+00,
        1.92010368e+00,  5.54253661e-01,  7.14762026e-01,  1.55033588e-01,
       -1.45423854e-02,  1.92019669e+00,  1.88151928e+00,  1.76692552e+00,
        6.39399600e-01,  1.83109733e+00,  1.61552964e+00,  1.99997344e+00,
        2.27288828e+00,  1.31694310e+00,  9.92399320e-01,  1.85030569e+00,
        1.99997344e+00,  2.65613989e-05,  2.08769121e+00,  4.83066871e-01,
        6.30876178e-01,  1.26852860e+00,  7.91297850e-01,  2.87402902e-02,
        4.40090230e-01,  1.31694310e+00,  4.14465083e-01,  2.65613989e-05,
        6.82021176e-01,  9.55419960e-01,  2.65613989e-05,  5.73660109e-01,
        2.27288828e+00,  1.84096489e-01,  1.99997344e+00,  1.87467726e-01,
        2.56426532e-01, -7.85960943e-02,  1.99997344e+00,  4.40090424e-01,
        1.99997344e+00,  1.90510815e-01,  1.59552732e+00,  2.65613989e-05,
        1.78845237e+00,  1.99997344e+00,  1.92019669e+00,  9.92399320e-01,
       -5.18605577e-01,  1.02429154e+00,  2.65613989e-05,  2.65613989e-05,
        2.65613989e-05,  2.65613989e-05,  1.62790914e+00,  6.03563016e-02,
        2.65613989e-05,  2.65613989e-05,  1.95320977e+00,  1.47947891e+00,
        1.99997344e+00,  2.17864728e+00,  1.21490826e+00,  4.72524562e-01,
        4.14465083e-01,  1.99997344e+00,  2.65613989e-05,  2.65613989e-05,
        1.99997344e+00,  1.99997344e+00,  2.65613989e-05, -5.22564311e-02,
        1.33449723e+00,  1.13045041e-01,  2.06277838e+00,  4.21460144e-01,
        1.31892627e+00,  1.42562097e+00, -9.75883972e-02,  1.42562097e+00,
        2.65613989e-05,  2.44502824e+00,  1.92010368e+00,  1.62790914e+00,
       -5.89813161e-02, -4.58798026e-01,  1.92019669e+00,  1.92019669e+00,
        2.65613989e-05,  1.99997344e+00,  7.25741910e-01,  8.58716945e-01,
        1.99997344e+00,  2.65613989e-05,  1.76692552e+00,  2.65613989e-05,
        1.92019669e+00, -7.63287747e-02,  2.65613989e-05,  1.31892627e+00,
        1.84141040e+00,  1.99997344e+00,  1.99997344e+00,  1.35920828e+00,
        1.51914028e-01,  2.06255257e+00,  7.12462463e-01, -3.66027563e-02,
        2.65613989e-05,  2.65613989e-05,  2.65613989e-05,  1.00702611e+00,
        1.59640298e+00,  8.00226788e-01,  1.29408247e-01,  9.92399320e-01,
        1.89447834e+00,  1.55033588e-01,  6.57081977e-01,  1.96062572e+00,
        1.99997344e+00,  4.09352012e-02,  7.75088582e-01,  1.55033588e-01,
        2.65613989e-05,  1.03889379e+00,  1.87593103e+00, -3.21859222e-01,
        2.18822262e+00,  7.91213038e-01,  7.27893507e-01,  1.40717032e+00,
        1.76692552e+00,  1.10343938e-01,  1.99997344e+00,  2.65613989e-05,
        1.31892627e+00,  1.46461037e+00,  1.30875690e+00,  1.31892627e+00,
        1.51262648e+00])

NameError: name 'sample_submit' is not defined